- content_for :title do
  = @title

%h2 Search Image on Tiqav
%ul
  - ['ちくわ', 'ひどい', 'ヤバイ', 'できない'].each do |word|
    - url = "#{app_root}/#{word}.jpg"
    %li
      %a{:href => url}
        %img{:src => url}
        %span= url
